<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- DataTables  CSS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <!--code to display favicon in the tab-->
    <title>Birdspotter</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('#datasets').DataTable();
            $('#datasets tbody').on('click', 'td', function () {
                var tr = $(this).closest('tr');
                if (!(tr.hasClass('childRowData') || $(this).hasClass('details-control'))) {
                    if (tr.hasClass('selected')) {
                        tr.removeClass('selected');
                        $(".dataset-action").addClass('disabled')
                    } else {
                        table.$('tr.selected').removeClass('selected');
                        tr.addClass('selected');
                        $(".dataset-action").removeClass('disabled')
                    }
                }
            });
            // Add event listener for opening and closing details
            $('#datasets tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child("<label for='metadata'>Metadata:<label><textarea id='metadata'>default value</textarea>", "childRowData").show();
                    tr.addClass('shown');
                }
            });
        });
    </script>
    {% endblock %}
    
</body>
</html>