{% include 'base.html' %}
{% block content %}
{% load template_utilities %}
<body>
    <div class="container mt-4">
        <table id="group-requests" class="table table-outlined" style="width:100%">
            <thead>
                <tr>
                    <!-- <th class="details-control sorting_disabled"></th"> -->
                        <th scope="col">Username</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">Group Requested</th>
                        <th scope="col">Date Requested</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for group_request in group_requests %}
                    <tr>
                        <!-- <td class="details-control sorting_disabled"></td> -->
                        <td>{{ group_request.user.username }}</td>
                        <td>{{ group_request.user.firstname }}</td>
                        <td>{{ group_request.user.lastname }}</td>
                        <td>{{ group_request.group }}</td>
                        <td>{{ group_request.submitted_date }}</td>
                        <td>
                            <div>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#notesModel{{ group_request.request_id }}">
                                  Notes
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="notesModel{{ group_request.request_id }}" tabindex="-1" aria-hidden="true">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Request notes</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        {{ group_request.notes }}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <button type="button" data-button='{"func":"approve", "request_id":"{{ group_request.request_id }}"}' class="btn btn-success action-button">Approve</button>
                                <button type="button" data-button='{"func":"deny", "request_id":"{{ group_request.request_id }}"}' class="btn btn-danger action-button">Deny</button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
        <!-- <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
            }); -->

        <script type="text/javascript">
        var funcs = {
            approve: function(request_id) {
                const url = `/accounts/group_requests/${request_id}/approve`
                $.post({
                   "url": url, 
                   "data": {}, 
                   "headers": {'X-CSRFToken': '{{csrf_token}}'}
               },
               function() {
                console.log(`${request_id} processed successfully`);
            });
            },
            deny: function(request_id) {
                const url = `/accounts/group_requests/${request_id}/deny`;
                $.post({
                   "url": url, 
                   "data": {}, 
                   "headers": {'X-CSRFToken': '{{csrf_token}}'}
               },
               function() {
                console.log(`${request_id} processed successfully`);
            });
            },
        };

        $('.action-button').click(function() {
            const data = $.parseJSON($(this).attr('data-button'));
            funcs[data.func](data.request_id)
        });
        </script>
    </body>
    {% endblock %}