{% include 'base.html' %}
{% load static %}
{% block content %}
{% load template_utilities %}
<body>
    <div class="container mt-4">
        <table id="datasets" class="table table-bordered dt-responsive nowrap" style="width:100%">
            <thead>
            <tr>
                <!-- <th class="details-control sorting_disabled"></th"> -->
                <th>Name</th>
                <th>Owner</th>
                <th>Public</th>
                <th>Date Uploaded</th>
                <th>Date Collected</th>
                <th>View</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for dataset in datasets %}
                <tr>
                    <!-- <td class="details-control sorting_disabled"></td> -->
                    <td>{{ dataset|get_item:'name' }}</td>
                    <td>{{ dataset|get_username:'owner_id' }}</td>
                    <td>{{ dataset|get_item:'is_public' }}</td>
                    <td>{{ dataset|get_date:'date_created' }}</td>
                    <td>{{ dataset|get_item:'date_collected' }}</td>
                    <td>
                        <div style="display: block; width:80%; height: 50%; margin-left: auto; margin-right: auto;">
                            <a href="/map" style="width: 45%; float: left;"><img src="{% static 'map.svg' %}" alt="Map View" style="object-fit: contain;" title="Map View"></a>
                            <a href="/data" style="width: 45%; float: right;"><img src="{% static 'graph.svg' %}" alt="Graph View" style="object-fit: contain;" title="Graph View"></a>
                        </div>
                    </td>
                    <td>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="nav-link" href="/queue/{{ dataset|get_item:'dataset_id' }}">Queue Analysis</a>
                                <!--should only be available to superusers and the owner(s)-->
                                <a class="nav-link" href="/edit">Edit Dataset</a>
                                <!--should only be available to registered users-->
                                <a class="nav-link" href="/Export">Export</a>                                

                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function () {
        var table = $('#datasets').DataTable({
            "language": {"emptyTable": "No datasets to display"}
        });
    });
    </script>
</body>
{% endblock %}