{% include 'base.html'%}
{% block content %}
<html>
    <style>
     .flex-container {
         display: inline-flex;
         position: relative;
         align-items: flex-start;
     }
     .flex-container > div {
         height: 100%;
         width: 100%;

     }
     .container {
         height: 90vh;
         min-width: 100%;
         padding-left: 0px;
         padding-right: 0px;
         position: absolute;
         display: flex;
         flex-direction: column;
         overflow: visible;
     }
    </style>
</html>


<body>
	<div class="container">
		<div class="flex-container">
			{{ graph_div|safe }}
		</div>
	</div>
</body>
{% endblock %}
