{% include 'base.html'%}
{% block content %}
<html>
    <style>
    div {
        width: inherit;    
    }
     .container {
         min-width: 100%;
         min-height: calc(100% - 56px);
         padding-left: 0px;
         padding-right: 0px;
         position: absolute;
         display: flex;
         flex-direction: row;
         overflow: visible;
    }
     div {justify-content: center;}
    </style>
</html>


<body>
	<div class="container">
		{{ graph_div|safe }}
	</div>
</body>
{% endblock %}
